<section class="project mt-20 mr-8 ml-8 p-8">
  <div class="container">
    <h4>Experience</h4>
    <p>I've worked on many projects, both personal and professional.</p>
    <p>Here are some of my projects:</p>

    <div class="flex flex-wrap justify-center">
      <div class="w-full  p-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-red-500">Santander Bank</h5>
            <p class="card-text">
              I've worked on many Angular projects, both personal and
              professional.
            </p>
          </div>
        </div>
      </div>

      <div class="w-full  p-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-yellow-500">
              Socius Arquitectura y Plataformas Tecnológicas
            </h5>
            <p class="card-text">
              I've worked on many React projects, both personal and
              professional.
            </p>
          </div>
        </div>
      </div>

      <div class="w-full  p-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-green-500">Directemar Navy of Chile</h5>
            <p class="card-text">
              I've worked on many React projects, both personal and
              professional.
            </p>
          </div>
        </div>
      </div>

      <div class="w-full  p-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-green-500">Exponencial Digital</h5>
            <p class="card-text">
              I've worked on many React projects, both personal and
              professional.
            </p>
          </div>
        </div>
      </div>

      <div class="w-full  p-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-green-500">Soporte TI Escuela rural Puente Colmo</h5>
            <p class="card-text">
              I've worked on many React projects, both personal and
              professional.
            </p>
          </div>
        </div>
      </div>


    </div>
  </div>
</section>
