<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content class="content-app">
    <mat-toolbar class="mat-primary justify-center">
      <mat-nav-list>
        <a  mat-list-item href="#home">
          <p class="text-white">Home
          <!-- <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon> -->
        </p>
        </a>
        <a mat-list-item href="#project">
          <p class="text-white">Experience</p>
          <!-- <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="work"></mat-icon> -->
        </a>
        <a  mat-list-item href="#about">
          <p class="text-white">Contact</p>
          <!-- <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="person"></mat-icon> -->
        </a>
      </mat-nav-list>
      </mat-toolbar>
    <!-- Add Content Here -->
<div class="backgounddot">
  <app-home id="home"/>
  <app-project id="project"/>
  <app-about id="about"/>
</div>
  </mat-sidenav-content>
</mat-sidenav-container>
