<section class="home mt-8 mr-8 ml-8 p-8 bg-white dark:bg-slate-900 rounded-lg shadow-md">
  <div class="container">
    <h1>Hi! I'm <span class="text-red-500">Pablo Jiménez</span></h1>
    <p>I'm a Software Engineer and a Full Stack Developer.</p>
    <p>I'm currently working on <span class="text-red-500">Angular</span> and <span class="text-red-500">React</span> projects.</p>
    <p>I'm also a <span class="text-red-500">Full Stack Developer</span> and a <span class="text-red-500">Software Engineer</span>.</p>
  </div>
</section>
